:root {
    --background: #24273a;
    --surface: #363a4f;
    --text: #cad3f5;

    --mauve: #c6a0f6;
    --pink: #f5bde6;
    --green: #a6da95;
    --teal: #8bd5ca;
    --blue: #8aadf4;
    --saphire: #7dc4e4;
    --red: #ed8796;
    --peach: #f5a97f;
}

body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#deck {
    display: flex;
}

.card {
    padding: 2rem 1.8rem;
    margin: 1rem;
    background-color: var(--mauve);
    color: var(--surface);
    border-radius: 10px;
}

.card:hover {
    background-color: var(--pink);
}

#score-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

#score-block > * {
    padding: 0;
    margin: 0 0 0.2rem 0;
}

button {
    background-color: var(--teal);
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
}
button:hover {
    background-color: var(--saphire);
}

#pop-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #363a4f;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    border: var(--red) 1px solid;
    min-width: 30vw;
}
#pop-up > * {
    margin: 0 0 0.5rem 0;
}